## EAE - Introduction to Programming Languages for Data 
## Day 10 - 19/02/2025

### Instructor:  
Enric Domingo  
*Machine Learning and Software Engineer at ERNI*  
edomingod@professional.eae.es

#### Python:

1. SQL Recap

2. Python refresh and practice

3. Extra: LLMs in Python

4. Python Lab ðŸ§ª

---
## 1. Recap

- Intermidiate SQL Commands

In [ ]:
# Preaparing the database for the exercises

# We will create a database with 3 tables: Students, Subjects and Classrooms

import sqlite3
import os
import pandas as pd


if "nba.db" in os.listdir():
    os.remove("nba.db")

if "nba.db" not in os.listdir():

    print("Creating database...")

    # Connect to SQLite database (or create it)
    connection = sqlite3.connect("nba.db")

    # Create cursor object
    cursor = connection.cursor()

    # Create Teams table
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS Teams (
        Team_ID INTEGER PRIMARY KEY,
        Team_Name TEXT,
        City TEXT
    )
    """)

    # Create Players table
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS Players (
        Player_ID INTEGER PRIMARY KEY,
        Player_Name TEXT,
        Position TEXT,
        Season_Points INTEGER,
        Team_ID INTEGER,
        FOREIGN KEY(Team_ID) REFERENCES Teams(Team_ID)
    )
    """)

    # Create Matches table
    cursor.execute("""
    CREATE TABLE IF NOT EXISTS Matches (
        Match_ID INTEGER PRIMARY KEY,
        Match_Date TEXT,
        Home_Team_ID INTEGER,
        Away_Team_ID INTEGER,
        Home_Score INTEGER,
        Away_Score INTEGER,
        FOREIGN KEY(Home_Team_ID) REFERENCES Teams(Team_ID),
        FOREIGN KEY(Away_Team_ID) REFERENCES Teams(Team_ID)
    )
    """)

    # Insert data into Teams table
    cursor.execute("INSERT INTO Teams VALUES (1, 'Lakers', 'Los Angeles')")
    cursor.execute("INSERT INTO Teams VALUES (2, 'Warriors', 'Golden State')")
    cursor.execute("INSERT INTO Teams VALUES (3, 'Nets', 'Brooklyn')")
    cursor.execute("INSERT INTO Teams VALUES (4, 'Bucks', 'Milwaukee')")

    # Insert data into Players table
    cursor.execute("INSERT INTO Players VALUES (1, 'LeBron James', 'SF', 186, 1)")
    cursor.execute("INSERT INTO Players VALUES (2, 'Anthony Davis', 'PF', 157, 1)")
    cursor.execute("INSERT INTO Players VALUES (3, 'Russell Westbrook', 'PG', 178, 1)")
    cursor.execute("INSERT INTO Players VALUES (4, 'Carmelo Anthony', 'F', 231, 1)")
    cursor.execute("INSERT INTO Players VALUES (5, 'Dwight Howard', 'C', 45, 1)")
    cursor.execute("INSERT INTO Players VALUES (6, 'Rajon Rondo', 'PG', 24, 1)")
    cursor.execute("INSERT INTO Players VALUES (7, 'Jarred Vanderbilt', 'F', 120, 1)")

    cursor.execute("INSERT INTO Players VALUES (8, 'Stephen Curry', 'PG', 49, 2)")
    cursor.execute("INSERT INTO Players VALUES (9, 'Klay Thompson', 'SG', 15, 2)")
    cursor.execute("INSERT INTO Players VALUES (10, 'Draymond Green', 'PF', 98, 2)")
    cursor.execute("INSERT INTO Players VALUES (11, 'Andrew Wiggins', 'SF', 189, 2)")
    cursor.execute("INSERT INTO Players VALUES (12, 'James Wiseman', 'C', 73, 2)")

    cursor.execute("INSERT INTO Players VALUES (13, 'Kevin Durant', 'SF', 180, 3)")
    cursor.execute("INSERT INTO Players VALUES (14, 'James Harden', 'SG', 33, 3)")
    cursor.execute("INSERT INTO Players VALUES (15, 'Kyrie Irving', 'PG', 12, 3)")
    cursor.execute("INSERT INTO Players VALUES (16, 'Blake Griffin', 'PF', 206, 3)")
    cursor.execute("INSERT INTO Players VALUES (17, 'LaMarcus Aldridge', 'C', 82, 3)")
    cursor.execute("INSERT INTO Players VALUES (18, 'Giannis Antetokounmpo', 'PF', 194, 3)")

    cursor.execute("INSERT INTO Players VALUES (19, 'Giannis Antetokounmpo', 'PF', 245, 4)")
    cursor.execute("INSERT INTO Players VALUES (20, 'Khris Middleton', 'SF', 214, 4)")
    cursor.execute("INSERT INTO Players VALUES (21, 'Jrue Holiday', 'PG', 63, 4)")
    cursor.execute("INSERT INTO Players VALUES (22, 'Brook Lopez', 'C', 84, 4)")
    cursor.execute("INSERT INTO Players VALUES (23, 'Donte DiVincenzo', 'SG', 27, 4)")
    cursor.execute("INSERT INTO Players VALUES (24, 'MarJon Beauchamp', 'F', 171, 4)")
    cursor.execute("INSERT INTO Players VALUES (25, 'Pat Connaughton', 'SG', 59, 4)")

    # Insert data into Matches table
    cursor.execute("INSERT INTO Matches VALUES (1, '2023-01-05', 1, 2, 105, 100)")
    cursor.execute("INSERT INTO Matches VALUES (2, '2023-01-15', 3, 4, 110, 115)")
    cursor.execute("INSERT INTO Matches VALUES (3, '2023-01-27', 2, 3, 120, 125)")
    cursor.execute("INSERT INTO Matches VALUES (4, '2023-02-10', 4, 1, 130, 125)")
    cursor.execute("INSERT INTO Matches VALUES (5, '2023-02-21', 1, 3, 110, 120)")
    cursor.execute("INSERT INTO Matches VALUES (6, '2023-02-22', 2, 4, 115, 120)")
    cursor.execute("INSERT INTO Matches VALUES (7, '2023-03-05', 3, 1, 105, 100)")
    cursor.execute("INSERT INTO Matches VALUES (8, '2023-03-20', 4, 2, 125, 130)")
    cursor.execute("INSERT INTO Matches VALUES (9, '2023-04-01', 1, 4, 120, 125)")
    cursor.execute("INSERT INTO Matches VALUES (10, '2023-04-08', 2, 1, 115, 120)")
    cursor.execute("INSERT INTO Matches VALUES (11, '2023-04-16', 3, 2, 110, 115)")
    cursor.execute("INSERT INTO Matches VALUES (12, '2023-04-27', 4, 3, 105, 100)")

    # Commit the changes and close the connection
    connection.commit()
    connection.close()

    print("Database created!")

In [ ]:
# Let's create our own function to make this process easier

def execute_query(query, database="nba.db"):
    connection = sqlite3.connect(database)
    df = pd.read_sql(query, connection)
    connection.close()

    return df

In [ ]:
query = """ 
SELECT *
FROM Teams
"""

execute_query(query)

In [ ]:
query = """
SELECT *
FROM Players
"""

execute_query(query)

In [ ]:
query = """
SELECT *
FROM Matches
"""

execute_query(query)

In [ ]:
# Let's refresh the SQL Operations

# Try to develop a query to get the total number of SGs () in each team

query = """

"""

execute_query(query)

In [ ]:
# Now let's refresh the JOIN operations

# Try to develop a query to get all home matches from the Team 'Nets'

query = """

"""

execute_query(query)

In [ ]:
# Let's get the positions where players score on average less than 90 points per season

query = """

"""

execute_query(query)

---
## 2. Python refresh and practice

#### 2.1.

You will receive a list of birth_dates as a string in the format "YYYY-MM-DD". You have to return a dictionary with the keys "years", "months", and "days", having as values the list of years, months and, days respectively. For example, if the input is `["1990-01-01", "1990-01-02", "1990-01-03"]`, the output should be:   
``` python
{
    "years": [1990, 1990, 1990],
    "months": [1, 1, 1],
    "days": [1, 2, 3]
}
```
Don't use pandas, datetime or any other library. Just Python string methods, loops, dictionaries, lists, etc.

#### 2.2.

Write a function that receives a string and returns it reversed. For example, if the input is "Hello World!", the output should be "!dlroW olleH".

#### 2.3.

Write a function fizz_buzz that takes an integer n and returns a list of strings representing the FizzBuzz sequence up to n. For multiples of three, add "Fizz" to the list; for multiples of five, add "Buzz"; for multiples of both three and five, add "FizzBuzz"; otherwise, add the number itself as a string.

Example usage:
``` python
n = 15
print(fizz_buzz(n))
['1', '2', 'Fizz', '4', 'Buzz', 'Fizz', '7', '8', 'Fizz', 'Buzz', '11', 'Fizz', '13', '14', 'FizzBuzz']
```

#### 2.4.

From the spotify-2023.csv file that we used in day 7, we will try to get the unique number of individual artists. To do it, first we will need to process it somehow as some arist(s)_name values contain multiple artist's name separated by a commas.

In [ ]:
spotify_df = pd.read_csv("spotify-2023.csv")

spotify_df

In [ ]:
# Now get the song and the artists in most spotify playlists (in_spotify_playlists)

In [ ]:
# Get the oldest song in the dataset

---
## 3. Extra: using LLM APIs from Python

In [ ]:
# !pip install openai

from openai import OpenAI

# this will be shared in class or you can use your own one if you have it (https://platform.openai.com)
api_key = ""

In [ ]:
client = OpenAI()
response = client.chat.completions.create(
    model="gpt-4o-mini",
    messages=[
        {
            "role": "user", 
            "content": "write a story about Python"
        }
    ],
    max_tokens=2000
)

response.choices[0].message.content

---
## 4. Python (mini)-Startup Lab ðŸ§ª

Last activity of the subject! ðŸŽ‰

Now it's your turn to practice what we learnt and practiced about Python during the course. You have to find a simple and well defined problem from your daily life, work or hobbies and solve it using Python. Then, you have to present your solution to the class in 1 minut as in an elevator pitch.

To do it you can use the "Start with WHY" method: 

- Start with WHY: explain the problem you want to solve and why it is important to solve it.

- HOW: explain how you solved it, what tools and techniques you used.

- WHAT: finally show the solution and the results.

Let's see an example:

#### Drone's flight time tracker

Some years ago I had a drone's startup were we had differents drones that we operated every now and then. It was mandatory to keep a track of their flights and flight time, something that we did manually.

I decided to solve this using Pyhton to build a dictionary of lists, were every element is a drone with its info, and then keep track of everyone of them with a list of flights and flight time.

So, using my simple app, drone pilots can add new flights and the app will update the flight time of the drone in a centralized and standard format. Also, I added a function to get the total flight time of a drone.

In [ ]:
# Data

drones_times = {
    "s_drone": [23, 5, 12],
    "l_drone": [15, 10],
    "wing_drone": [40, 52, 27],
}


# app

option = 0

while option != 3:
    
    print("\n\nSelect and option:")
    print("------------------")
    print("1. Add drone flight time")
    print("2. Show drone flight time")
    print("3. Exit")

    option = int(input("Select an option: "))

    if option == 1:
        drone_id = input("Enter the drone id: ")
        flight_time = input("Enter the new flight time")

        drones_times[drone_id].append(flight_time)

    elif option == 2:
        for drone in drones_times:
            print(drones_times, drones_times[drone], "total:", sum(drones_times[drone]))

    elif option == 3:
        print("Goodbye!")

    else:
        print("Invalid option")

In [ ]:
import random


def determine_winner(user_choice, computer_choice):
    if user_choice == computer_choice:
        return "It's a tie!"
    elif (user_choice == 'rock' and computer_choice == 'scissors') or \
         (user_choice == 'paper' and computer_choice == 'rock') or \
         (user_choice == 'scissors' and computer_choice == 'paper'):
        return "You win!"
    else:
        return "You lose!"

def main():
    choices = ['rock', 'paper', 'scissors']
    user_score = 0
    computer_score = 0
    
    print("Rock, Paper, Scissors Game!\n")

    while True:
      
        user_choice = input("Enter rock, paper, or scissors (or 'exit' to quit): ").lower()
        if user_choice == 'exit':
            break
        if user_choice not in choices:
            print("Invalid choice! Please try again.")
            continue
        
        
        computer_choice = random.choice(choices)
        print(f"Computer chose: {computer_choice}")
        
        
        result = determine_winner(user_choice, computer_choice)
        print(result)
        
        if result == "You win!":
            user_score += 1
        elif result == "You lose!":
            computer_score += 1

      
        print(f"Score - You: {user_score} | Computer: {computer_score}\n")

if __name__ == "__main__":
    main()

Rock, Paper, Scissors Game!

Invalid choice! Please try again.
Computer chose: scissors
You win!
Score - You: 1 | Computer: 0

Computer chose: scissors
You win!
Score - You: 2 | Computer: 0

Computer chose: paper
It's a tie!
Score - You: 2 | Computer: 0

Computer chose: rock
It's a tie!
Score - You: 2 | Computer: 0

Computer chose: rock
It's a tie!
Score - You: 2 | Computer: 0